<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home2.css">
    <style>
        
    </style>
</head>
<body>
    <div class="jar2">
        <button class="add-button2" id="myButton">Add Note</button>
        <button class="add-button" id="colorButton">Select Color</button>
        <!-- Add more notes here -->
        <input type="color" id="colorPicker" style="display: none;">
    </div>


    <!-- Add Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    

    <script src="/notescript.js" type="text/javascript"></script>
</body>
</html>
