<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Just Do It</title>
    <link rel="stylesheet" type="text/css" href="prodstyles.css">
    <link rel="icon" href="favicon-32x32.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>
    <button id="topLeftButton"><strong>Play   </strong></button>
    <audio id="audio" src="../JustDoIt.mp3" preload="auto"></audio>

    <div id="main-container-color">

        <div id="image-container">
            <img src="../JustDoIt6.jpg" alt="Your Image" id="myImage">
        </div>

    <div id="textbox-container">
        <!---placeholder="e.g. wash my car"---->
        <input type="text" id="myTextbox" >
    </div>
    <p id="inlabel">in</p>


    <div id="textbox-container2">
        <!-- placeholder="e.g. 15"-->
        <input type="text" id="myTextbox2"><p id="secondslabel">seconds</p>
    </div>
    <button id="closeButton"><strong>DO IT</strong></button>
    
    <div id="countdown" class="countdownStyle"><b></b></div>
    <div id="taskTextTranfser"></div>
    <button id="backButton"><strong>Back</strong></button>

    </div>

    <script src="/prodclient.js" type="text/javascript"></script>

    
</body>
</html>
